<div id="<%= dom_id mini_game %>">
  <p>
    <strong>Type:</strong>
    <%= mini_game.type %>
  </p>

  <p>
    <strong>Payload:</strong>
    <%= mini_game.payload %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= mini_game.answer %>
  </p>

</div>
