@font-face {
  font-family: CPMono;
  src: url("../public/fonts/CPMono.otf") format("opentype");
}

:root {
  --color-jungle: #33FFCC;
  --color-desert: #FFF980;
  --color-volcano:#F5A2FC;
  --color-tundra: #A4DFFF;
  --color-grid:   #FF0000;
  --color-jblack: #1E2523;
  --color-dblack: #1E2523;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
