<div id="<%= dom_id biome %>">
  <p>
    <strong>Name:</strong>
    <%= biome.name %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= biome.text %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= biome.source_id %>
  </p>

</div>
